<a href="https://colab.research.google.com/github/ANKITSINGH72/AI-ML-CHATBOT/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **AI-Powered Financial Chatbot Documentation**

# Financial Data Analysis of Microsoft, Tesla, and Apple
## Introduction
This notebook analyzes the financial performance of Microsoft, Tesla, and Apple over the last three fiscal years, focusing on key metrics such as Total Revenue, Net Income, Total Assets, Total Liabilities, and Cash Flow from Operating Activities.

## Data Overview
The financial data was extracted from the 10-K filings of each company for the fiscal years 2021, 2022, and 2023.

In [39]:
# Import necessary libraries
import pandas as pd

# Create a DataFrame with the financial data
data = {
    'Company': ['Microsoft', 'Microsoft', 'Microsoft', 'Tesla', 'Tesla', 'Tesla', 'Apple', 'Apple', 'Apple'],
    'Year': [2021, 2022, 2023, 2021, 2022, 2023, 2021, 2022, 2023],
    'Total Revenue ($M)': [168088, 198270, 211915, 53823, 81462, 105225, 365817, 394328, 408732],
    'Net Income ($M)': [61271, 72738, 74993, 5519, 12556, 14117, 94680, 99803, 100562],
    'Total Assets ($M)': [333779, 364840, 403382, 62131, 82594, 93000, 351002, 352755, 379000],
    'Total Liabilities ($M)': [191791, 198320, 215637, 28356, 30551, 35000, 287912, 302083, 310000],
    'Cash Flow from Operating Activities ($M)': [76742, 81758, 89002, 11500, 14709, 17800, 104038, 110174, 112000]
}

df = pd.DataFrame(data)

# Calculate year-over-year changes
df['Revenue Growth (%)'] = df.groupby('Company')['Total Revenue ($M)'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company')['Net Income ($M)'].pct_change() * 100
df['Assets Growth (%)'] = df.groupby('Company')['Total Assets ($M)'].pct_change() * 100
df['Liabilities Growth (%)'] = df.groupby('Company')['Total Liabilities ($M)'].pct_change() * 100
df['Cash Flow Growth (%)'] = df.groupby('Company')['Cash Flow from Operating Activities ($M)'].pct_change() * 100

# Display the DataFrame
df

,Company,Year,Total Revenue ($M),Net Income ($M),Total Assets ($M),Total Liabilities ($M),Cash Flow from Operating Activities ($M),Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow Growth (%)
0,Microsoft,2021,168088,61271,333779,191791,76742,NaN,NaN,NaN,NaN,NaN
1,Microsoft,2022,198270,72738,364840,198320,81758,17.956071,18.715216,9.305858,3.404226,6.536186
2,Microsoft,2023,211915,74993,403382,215637,89002,6.882030,3.100168,10.564083,8.731848,8.860295
3,Tesla,2021,53823,5519,62131,28356,11500,NaN,NaN,NaN,NaN,NaN
4,Tesla,2022,81462,12556,82594,30551,14709,51.351653,127.504983,32.935250,7.740866,27.904348
5,Tesla,2023,105225,14117,93000,35000,17800,29.170656,12.432303,12.598978,14.562535,21.014345
6,Apple,2021,365817,94680,351002,287912,104038,NaN,NaN,NaN,NaN,NaN
7,Apple,2022,394328,99803,352755,302083,110174,7.793788,5.410858,0.499427,4.921990,5.897845
8,Apple,2023,408732,100562,379000,310000,112000,3.652797,0.760498,7.440008,2.620803,1.657378

**Introduction**

This AI-powered financial chatbot is designed to respond to predefined financial queries using data extracted from the 10-K filings of Microsoft, Tesla, and Apple for the last three fiscal years. The chatbot provides quick and accurate responses to questions regarding key financial metrics such as total revenue, net income changes, total assets, total liabilities, and cash flow from operating activities.

**How It Works:**

The chatbot works by normalizing user queries (converting to lowercase and removing extra spaces) and matching these queries against a predefined set of financial questions. The chatbot uses simple string matching techniques to determine the appropriate financial data to return based on the user's query.

# Query Processing:

**Normalization:** User input is converted to lowercase and stripped of leading or trailing spaces to ensure consistency in query processing.

**Matching:** The chatbot looks for key phrases in the query (e.g., "total revenue," "net income," "total assets") and matches them to predefined responses.

**Data Retrieval:** The chatbot retrieves the relevant financial data from a preloaded dataset and returns it as the response.

**Supported Queries**

The chatbot can handle the following predefined queries:


**1-Total Revenue:** **bold text**
Query Example: "What is the total revenue?"

Response: The chatbot will return the total revenue for the most recent fiscal year for Microsoft, Tesla, and Apple.

**2- Net Income Change:**
Query Example: "How has net income changed over the last year?"

Response: The chatbot will return the percentage change in net income from the previous fiscal year for each company.

**3- Total Assets:**
Query Example: "What are the total assets?"

Response: The chatbot will return the total assets for the most recent fiscal year for each company.

**4- Total Liabilities:**
Query Example: "What are the total liabilities?"

Response: The chatbot will return the total liabilities for the most recent fiscal year for each company.

**5- Cash Flow from Operating Activities:**
Query Example: "What is the cash flow from operating activities?"

Response: The chatbot will return the cash flow from operating activities for the most recent fiscal year for each company.

# Example Interactions

Here are some example interactions between the user and the chatbot:

1-  User Input: "What is the total revenue?"

Chatbot Response:


Microsoft             211915

Tesla                105225

Apple                408732


2- User Input: "How has net income changed over the last year?"

Chatbot Response:



Microsoft            3.12%

Tesla               12.42%

Apple                0.76%


3.User Input: "What are the total liabilities?"

Chatbot Response:


Microsoft            215637
  
Tesla                35000

Apple                310000



**Limitations:**

This chatbot is designed to respond only to a limited set of predefined queries. It does not handle complex natural language processing or queries outside the predefined set. Additionally, the chatbot relies on data extracted from specific 10-K filings, so its responses are limited to the data available from those documents.

In [40]:
import pandas as pd

# Sample financial data for Microsoft, Tesla, and Apple (from Task 1)
data = {
    'Company': ['Microsoft', 'Microsoft', 'Microsoft', 'Tesla', 'Tesla', 'Tesla', 'Apple', 'Apple', 'Apple'],
    'Year': [2021, 2022, 2023, 2021, 2022, 2023, 2021, 2022, 2023],
    'Total Revenue ($M)': [168088, 198270, 211915, 53823, 81462, 105225, 365817, 394328, 408732],
    'Net Income ($M)': [61271, 72738, 74993, 5519, 12556, 14117, 94680, 99803, 100562],
    'Total Assets ($M)': [333779, 364840, 403382, 62131, 82594, 93000, 351002, 352755, 379000],
    'Total Liabilities ($M)': [191791, 198320, 215637, 28356, 30551, 35000, 287912, 302083, 310000],
    'Cash Flow from Operating Activities ($M)': [76742, 81758, 89002, 11500, 14709, 17800, 104038, 110174, 112000]
}

df = pd.DataFrame(data)

# Function to handle queries
def simple_chatbot(user_query):
    # Normalize the query: convert to lowercase and strip leading/trailing spaces
    user_query = user_query.strip().lower()

    # Check for various financial queries using flexible matching
    if "total revenue" in user_query:
        response = df.groupby('Company')['Total Revenue ($M)'].last().to_string()
    elif "net income" in user_query and "change" in user_query:
        df['Net Income Change (%)'] = df.groupby('Company')['Net Income ($M)'].pct_change() * 100
        response = df.groupby('Company')['Net Income Change (%)'].last().to_string()
    elif "total assets" in user_query:
        response = df.groupby('Company')['Total Assets ($M)'].last().to_string()
    elif "total liabilities" in user_query:
        response = df.groupby('Company')['Total Liabilities ($M)'].last().to_string()
    elif "cash flow" in user_query or "operating activities" in user_query:
        response = df.groupby('Company')['Cash Flow from Operating Activities ($M)'].last().to_string()
    else:
        response = "Sorry, I can only provide information on predefined queries."

    return response

# Example interaction
user_query = input("Ask a financial question: ")
print(simple_chatbot(user_query))

Ask a financial question: what is total revenue
Company
Apple        408732
Microsoft    211915
Tesla        105225

In [41]:
import pandas as pd
import pinecone
from cohere import Client
import os
from urllib3.exceptions import ProtocolError  # Import ProtocolError exception from urllib3

# Create a Pinecone instance
from pinecone import Pinecone, ServerlessSpec

pc = Pinecone(api_key="9955f543-e3cc-4f84-9564-1015c49818f7")
# Create a DataFrame with the financial data
data = {
    'Company': ['Microsoft', 'Microsoft', 'Microsoft', 'Tesla', 'Tesla', 'Tesla', 'Apple', 'Apple', 'Apple'],
    'Year': [2021, 2022, 2023, 2021, 2022, 2023, 2021, 2022, 2023],
    'Total Revenue ($M)': [168088, 198270, 211915, 53823, 81462, 105225, 365817, 394328, 408732],
    'Net Income ($M)': [61271, 72738, 74993, 5519, 12556, 14117, 94680, 99803, 100562],
    'Total Assets ($M)': [333779, 364840, 403382, 62131, 82594, 93000, 351002, 352755, 379000],
    'Total Liabilities ($M)': [191791, 198320, 215637, 28356, 30551, 35000, 287912, 302083, 310000],
    'Cash Flow from Operating Activities ($M)': [76742, 81758, 89002, 11500, 14709, 17800, 104038, 110174, 112000]
}

df = pd.DataFrame(data)

# Calculate year-over-year changes
df['Revenue Growth (%)'] = df.groupby('Company')['Total Revenue ($M)'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company')['Net Income ($M)'].pct_change() * 100
df['Assets Growth (%)'] = df.groupby('Company')['Total Assets ($M)'].pct_change() * 100
df['Liabilities Growth (%)'] = df.groupby('Company')['Total Liabilities ($M)'].pct_change() * 100
df['Cash Flow Growth (%)'] = df.groupby('Company')['Cash Flow from Operating Activities ($M)'].pct_change() * 100

import cohere
import pinecone

# Create a Cohere client
co = cohere.Client('SV3t5lGTShl6g1FHQopFwCwvmxEDxUDHpR3ukmsW')

index_name = "quickstart"
# Replace 'pinecone-quickstart.svc.us-west1-gcp.pinecone.io' with the actual host of your Pinecone index
try:
    index = pinecone.Index(index_name, host='pinecone-quickstart.svc.us-west1-gcp.pinecone.io')
except ProtocolError as e:
    print(f"Failed to connect to Pinecone index: {e}")
    exit(1)

for i, row in df.iterrows():
    # Generate an embedding for the company's financial metrics
    text = f"{row['Company']} {row['Year']} {row['Total Revenue ($M)']} {row['Net Income ($M)']} {row['Total Assets ($M)']} {row['Total Liabilities ($M)']} {row['Cash Flow from Operating Activities ($M)']}"
    response = co.embed(texts=[text])
    vector = response.embeddings[0]

    # Convert the list to a Pinecone vector
    pinecone_vector = pinecone.Vector(values=vector, id=str(i))

    # Upsert the vector into Pinecone
    try:
        index.upsert(vectors=[pinecone_vector], metadata={'company': row['Company'], 'year': row['Year']})
    except ProtocolError as e:
        print(f"Failed to upsert vector into Pinecone index: {e}")
        exit(1)

def simple_chatbot(user_query):
    # Normalize the query: convert to lowercase and strip leading/trailing spaces
    user_query = user_query.strip().lower()

    # Check for various financial queries using flexible matching
    if "total revenue" in user_query:
        response = df.groupby('Company')['Total Revenue ($M)'].last().to_string()
    elif "net income" in user_query and "change" in user_query:
        df['Net Income Change (%)'] = df.groupby('Company')['Net Income ($M)'].pct_change() * 100
        response = df.groupby('Company')['Net Income Change (%)'].last().to_string()
    elif "total assets" in user_query:
        response = df.groupby('Company')['Total Assets ($M)'].last().to_string()
    elif "total liabilities" in user_query:
        response = df.groupby('Company')['Total Liabilities ($M)'].last().to_string()
    elif "cash flow" in user_query or "operating activities" in user_query:
        response = df.groupby('Company')['Cash Flow from Operating Activities ($M)'].last().to_string ()
    else:
        response = "Sorry, I can only provide information on predefined queries."

    # Use Cohere to generate a response
    response = co.generate(prompt=response, max_tokens=50).generations[0].text

    return response

# Example interaction
user_query = input("Ask a financial question: ")
print(simple_chatbot(user_query))

Failed to upsert vector into Pinecone index: Failed to connect; did you specify the correct index name?
Failed to upsert vector into Pinecone index: Failed to connect; did you specify the correct index name?
Failed to upsert vector into Pinecone index: Failed to connect; did you specify the correct index name?
Failed to upsert vector into Pinecone index: Failed to connect; did you specify the correct index name?
Failed to upsert vector into Pinecone index: Failed to connect; did you specify the correct index name?
Failed to upsert vector into Pinecone index: Failed to connect; did you specify the correct index name?
Failed to upsert vector into Pinecone index: Failed to connect; did you specify the correct index name?
Failed to upsert vector into Pinecone index: Failed to connect; did you specify the correct index name?
Failed to upsert vector into Pinecone index: Failed to connect; did you specify the correct index name?
Ask a financial question: what is total revenue
 Here are the corresponding stock symbols for each company:

Apple: NASDAQ:AAPL
Microsoft: NASDAQ:MSFT
Tesla: NASDAQ:TSLA

These symbols uniquely identify the stocks of each company on their respective stock exchanges and

In [ ]:
import streamlit as st
import pandas as pd
import pinecone
from cohere import Client
import os
from urllib3.exceptions import ProtocolError  # Import ProtocolError exception from urllib3

# Create a Pinecone instance
from pinecone import Pinecone, ServerlessSpec

pc = Pinecone(api_key="9955f543-e3cc-4f84-9564-1015c49818f7")
# Create a DataFrame with the financial data
data = {
    'Company': ['Microsoft', 'Microsoft', 'Microsoft', 'Tesla', 'Tesla', 'Tesla', 'Apple', 'Apple', 'Apple'],
    'Year': [2021, 2022, 2023, 2021, 2022, 2023, 2021, 2022, 2023],
    'Total Revenue ($M)': [168088, 198270, 211915, 53823, 81462, 105225, 365817, 394328, 408732],
    'Net Income ($M)': [61271, 72738, 74993, 5519, 12556, 14117, 94680, 99803, 100562],
    'Total Assets ($M)': [333779, 364840, 403382, 62131, 82594, 93000, 351002, 352755, 379000],
    'Total Liabilities ($M)': [191791, 198320, 215637, 28356, 30551, 35000, 287912, 302083, 310000],
    'Cash Flow from Operating Activities ($M)': [76742, 81758, 89002, 11500, 14709, 17800, 104038, 110174, 112000]
}

df = pd.DataFrame(data)

# Calculate year-over-year changes
df['Revenue Growth (%)'] = df.groupby('Company')['Total Revenue ($M)'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company')['Net Income ($M)'].pct_change() * 100
df['Assets Growth (%)'] = df.groupby('Company')['Total Assets ($M)'].pct_change() * 100
df['Liabilities Growth (%)'] = df.groupby('Company')['Total Liabilities ($M)'].pct_change() * 100
df['Cash Flow Growth (%)'] = df.groupby('Company')['Cash Flow from Operating Activities ($M)'].pct_change() * 100

import cohere
import pinecone

# Create a Cohere client
co = cohere.Client('SV3t5lGTShl6g1FHQopFwCwvmxEDxUDHpR3ukmsW')

index_name = "quickstart"
# Replace 'pinecone-quickstart.svc.us-west1-gcp.pinecone.io' with the actual host of your Pinecone index
try:
    index = pinecone.Index(index_name, host='pinecone-quickstart.svc.us-west1-gcp.pinecone.io')
except ProtocolError as e:
    print(f"Failed to connect to Pinecone index: {e}")
    exit(1)

for i, row in df.iterrows():
    # Generate an embedding for the company's financial metrics
    text = f"{row['Company']} {row['Year']} {row['Total Revenue ($M)']} {row['Net Income ($M)']} {row['Total Assets ($M)']} {row['Total Liabilities ($M)']} {row['Cash Flow from Operating Activities ($M)']}"
    response = co.embed(texts=[text])
    vector = response.embeddings[0]

    # Convert the list to a Pinecone vector
    pinecone_vector = pinecone.Vector(values=vector, id=str(i))

    # Upsert the vector into Pinecone
    try:
        index.upsert(vectors=[pinecone_vector], metadata={'company': row['Company'], 'year': row['Year']})
    except ProtocolError as e:
        print(f"Failed to upsert vector into Pinecone index: {e}")
        exit(1)

def simple_chatbot(user_query):
    # Normalize the query: convert to lowercase and strip leading/trailing spaces
    user_query = user_query.strip().lower()

    # Check for various financial queries using flexible matching
    if "total revenue" in user_query:
        response = df.groupby('Company')['Total Revenue ($M)'].last().to_string()
    elif "net income" in user_query and "change" in user_query:
        df['Net Income Change (%)'] = df.groupby('Company')['Net Income ($M)'].pct_change() * 100
        response = df.groupby('Company')['Net Income Change (%)'].last().to_string()
    elif "total assets" in user_query:
        response = df.groupby('Company')['Total Assets ($M)'].last().to_string()
    elif "total liabilities" in user_query:
        response = df.groupby('Company')['Total Liabilities ($M)'].last().to_string()
    elif "cash flow" in user_query or "operating activities" in user_query:
        response = df.groupby('Company')['Cash Flow from Operating Activities ($M)'].last().to_string ()
    else:
        response = "Sorry, I can only provide information on predefined queries."

    # Use Cohere to generate a response
    response = co.generate(prompt=response, max_tokens=50).generations[0].text

    return response

# Create a Streamlit interface
st.title("Financial Q&A Bot")
st.write("Ask a financial question:")

user_query = st.text_input("")

if st.button("Ask"):
    response = simple_chatbot(user_query)
    st.write(response)